h2{
    margin: 3%;
    padding: 0;
}
img{
    margin: 3% 6%;
    width: 88%;
}

p{
    margin: 5% 3% 5% 3%;
    padding-bottom: 5%;
    text-align: left;
}

video {
    margin: 3% 6%;
    width: 88%;
}

#intro, #ideation, #takeaway{
    background-color: #242424;
    color: white;
    border-bottom: solid #242424;
}

#intro{
    font-family: 'Roboto Mono';
}
#intro h1{
    font-size: 3.5rem;
    color: #D74557;
    font-weight: 400;
}

#intro p{
    color: white;
    margin: 0 5%;
    text-align: center;
}

#intro ul{
    font-weight: 400;
    font-size: .8rem;

}

#intro span{
    font-weight: 500;
    font-size: .8rem;
}

.githubButton{
    display: block;
    border: solid #444444;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
    color: #444444;
    width: 30%;
    text-align: center;
    margin:  10% auto;
}

.end{
    display: block;
    width: 5rem;
    height: 4px;
    background-color: white;
    margin: 10% auto 3%;
    border-radius: 2px;

}