
img{
    margin: 3%;
    width: 94%;
}

p{
    margin: 5% 3% 5% 3%;
    text-align: left;
}

video {
    margin: 3%;
    width: 94%;
}

#intro, #ideation, #takeaway{
    background-color: #242424;
    color: white;
}

#intro{
    font-family: 'Roboto Mono';
}
#intro h1{
    
    color: #D74557;
    font-weight: 400;
}

#intro p{
    color: white;
    margin: 0 5%;
}

#intro ul{
    font-weight: 400;
    font-size: .8rem;

}


#intro span{
    font-weight: 500;
    font-size: .8rem;
}

