html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #F9F9F9;
    margin: 0;
}

section{
    position: relative;
    border-top: solid  #EFEEEE;
    background-color:  #EFEEEE;
}

/* Heading styling */

h1{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

h2{
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
    padding: 5% 5%;
    
}

h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;

}

h4{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: .3rem
}

p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    white-space: normal;
}

/* Menu Section */

.menuButton{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    background-color:#2B6B79;
    box-shadow:  3px -3px 5 px lightgray;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding: 15px;
    margin: 10px;
    border-radius: 50% 50% 0 50%;
    cursor: pointer;
}

.menu{
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #2B6B79;
}

.menu h3{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 5% 5% 0 5% ;
    font-size: 4vh;
    margin: 0;
}

.menu ul{
    height: 80%;
    list-style-type: none;
    padding-top: 1vh;
    padding-left: 5%;
    margin: 0;
}

.menu li{
    padding: .3vh 0;
    text-align: center;
}



.menu a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 4vh;
}

.line{
    margin: auto;
    display: block;
    width: 90%;
    background-color: white;
    height: .2vh;

}


/* Section Styling */

#title{
    position: fixed;
    display: flex;
    top: -3px;
    left: 0;
    background-color: #2B6B79;
    color: white;
    width: 100%;
    height: 100vh;
}

.move{
    position: relative;
    margin: auto;
    
}

#title::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#title img{
    display: block;
    width: 80%;
    margin: auto;
    flex-shrink: 0;
}
.subheading{
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0;
}
.subheading span{
    display: block;
    color:  #FFA451;
    font-weight: 800;
    padding: 5%;
    margin: 0;;

    
}



/* Projectslider*/

.projectslider{
    overflow: hidden;   
}

#projects{
    margin-top: 100vh;
    box-shadow: 0 -6px 3px 0px rgba(68, 68, 68, 0.3);
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 100vw);
    margin: 0 0 5% 0;
    
    
}

.project{
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.projectContent{
    border-radius: 10px;
    width: 90%;
    height: 100%;
    margin: 0 5%;
    box-shadow:-6px -6px 16px rgba(255, 255, 255, 0.5), 6px 6px 16px rgba(209, 205, 199, 0.5);
    
}
.projectContent h3{
    
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 2rem 0 0 0;

}

.projectContent p{
    display: none;
    margin: auto;
    padding: 2rem;

    transition: display 0.5s ease;
    
}

.imgWrap{
    display: flex;
    min-height: 300px;
    border-radius: 10px;
}

.projectLogo{
    display: block;
    margin: auto;
    width: 100%;
    transition: display 0.5s ease;
}

.moreButton{
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.5rem;
    width: 50%;
    padding: .5rem;
    margin: 3rem auto 0 auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.2);
    
}
.dots{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px auto auto auto;
}

.dot{
    display: block;
    flex: 0 5%;
    height: 12px;
    border:  1px solid #444444;
    border-radius: 5px;
    margin: 0 2% 0 2%;
}

.active{
    background-color: #444444;
    transition: background-color 0.5s ease;
}

/* Projectbased styling*/



/*About me */

.aboutMe{
    padding: 0 7%;;
    max-width: 800px;
    margin: auto;
}


.myself{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    align-items: center;
}

.myself img{
    display: block;
    width: 50%;
    border-radius: 5%;
}

.aboutMe p {
    display: block;
    width: 90%;
    margin: auto;

}

.dev{
    margin: 3rem auto 2rem auto;
}

.skillList{
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.skillList div{
 margin-bottom: 2em;
}

.skillList img{
    display: block;
    width: 3rem;
    margin: auto;
}

.skillList span{
    display: block;
    padding-top: 1rem;
    text-align: center;

}

ul{
    list-style-type: none;
    font-weight: 400;
    font-size: 0.9rem;
    padding:  3% 0;
    margin: 0;
}

li span{
    font-size: 1.3rem;
    font-weight: 700;
}
/* Testspace */


@media (min-width: 600px){
    .move{
        padding: 5%;
        margin: auto;
        display: flex;
        align-items: flex-end;
        max-width: 1000px;
        justify-content: center;
        
    }

    h1{
        text-align: left;
    }
    .subheading{
        text-align: left;
    }

    .projects{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 30vw);
        
    }

    .dots{
        display: none;
    }

    .menu{
        display: none;
        position: fixed;
        right: 0;
        padding: 15px;
        margin: 10px;
        z-index: 2;
        bottom: 0;
        width: 30%;
        color: white;
        
        border-radius: 100px 100px 0 100px;
    }

    .myself{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        
    }
    .aboutMe p {
        display: block;
        width: 90%;
        margin: 5rem;
    
    }




}