html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color:  #EFEEEE;
    margin: 0;
}

section{
    position: relative;
    background-color:  #EFEEEE;
    width: 95%;
    margin: auto;
}

p{
    font-size: .9rem;
}

img{
    width: 100%
}
/* Menu Section */

.menuButton{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    background-color:#2B6B79;
    box-shadow:  3px -3px 5 px lightgray;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding: 15px;
    margin: 10px;
    border-radius: 50% 50% 0 50%;
    cursor: pointer;
}

.menu{
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #2B6B79;
}

.menu h3{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 5% 5% 0 5% ;
    font-size: 4vh;
    margin: 0;
}

.menu ul{
    height: 80%;
    list-style-type: none;
    padding-top: 1vh;
    padding-left: 5%;
    margin: 0;
}

.menu li{
    padding: .3vh 0;
    text-align: center;
}



.menu a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 4vh;
}

.line{
    margin: auto;
    display: block;
    width: 90%;
    background-color: white;
    height: .2vh;

}


#intro{
    position: relative;
    background-color: white;
    width: 100%;
}

#intro img{
    display: block;
    width: 100%;
}

.heading{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EFEEEE 90%);
  }

.heading h2{
    font-weight: 700;
    font-size: 2rem;
    margin:0;
    padding: 0;
}

h3{
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
    padding:0;
}

.heading span{
    font-size: .8rem;
}

.question{
    font-style: italic;
    font-weight: 700;
    font-size: 1.3rem;
}

.quote{
    width: 90%;
    margin: auto;
    font-style: italic;
}

.quote span{
    font-weight: 600;
}

.parameters{
    text-align: center;
    
    display: grid;
    grid-template-rows: repeat(3,30vw);
    grid-template-columns: repeat(3,30vw);
}

.parameterItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    margin: .3rem;
    border: solid black 1px;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

@media (min-width: 600px){
    .heading{
        position: absolute;
        bottom: 10%;
        left: 10%;
        padding: 0;
        background: 0;
      }
}