html{
    font-family: 'Open Sans', sans-serif;
  
}

body{
    background-color:  #EFEEEE;
    margin: 0;
}

section{
    
    position: relative;
    background-color:  #EFEEEE;
    padding: 3rem .9375rem ;

}

h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2.25rem 0;
    padding:0;
    text-align: center;
}

h4{
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .4rem;

}

svg{
    display: block;
    margin: 0 auto 4rem auto;
    width: 251px;
    height: 4px;
}

p{
    font-size: 1.2rem;
    max-width:41.25rem;
    line-height: 1.6rem;
}

img{
    display: block;
    width: 100%;
    max-width:31.25rem;
    margin: 3rem auto;
}
/* Menu Section */

.menuButton{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    background-color:#2B6B79;
    box-shadow:  3px -3px 5 px lightgray;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    padding: 15px;
    margin: 10px;
    border-radius: 50% 50% 0 50%;
    cursor: pointer;
}

.menu{
    display: none;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #2B6B79;
}

.menu h3{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 5% 5% 0 5% ;
    font-size: 4vh;
    margin: 0;
}

.menu ul{
    height: 80%;
    list-style-type: none;
    padding-top: 1vh;
    padding-left: 5%;
    margin: 0;
}

.menu li{
    padding: .3vh 0;
    text-align: center;
}



.menu a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 4vh;
}

.line{
    margin: auto;
    display: block;
    width: 90%;
    background-color: white;
    height: .2vh;

}


#intro{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin:0;  
    background-color: rgba(255, 255, 255, 0);
    height: 13rem;
    padding-bottom: 2rem;
}


header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.move{
    position: relative;
    margin: auto
}

header::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


header img{
    scale: 1;
    display: block;
    max-width: 100%;
}

.heading{
    padding: .8rem;
    margin: 1em;
    background-color: white;
    border-radius: 3px;
    border: solid black 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
  }

.projectTitle{
    display: block;
    font-weight: 700;
    font-size: 2rem;
    margin:0;
    padding: 0;
}

.projectSubtitle{
    display: block;
    font-weight: 400;
    font-size: 1.5rem;
}

.projectInfo{
    font-size: .8rem;
}





.question{
    display: block;
    font-style: italic;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1rem
}

.quote{
    max-width: 39rem;
    padding:  0rem 0 3rem 0;
    margin: auto;
    font-style: italic;
}

.quote span{
    font-weight: 600;
    display: block;
    text-align: right;

}

.parameters{
    justify-content: center;
    text-align: center;
    max-width: 41,25rem;
    display: grid;
    grid-template-rows: repeat(3,30vw);
    grid-template-columns: repeat(3,30vw);
}

.parameterItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    margin: .3rem;
    border: solid black 1px;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

@media (min-width: 600px){

    section{
        padding-top: 6rem;
        padding-bottom: 6
        rem;
    }
    p{
        margin: auto;
        max-width: 56.25rem;
    }

    h3{
        margin: auto;
        font-size: 3rem;
        padding-bottom: 3rem;
    }

    h4{
        font-size: 2rem;
    }

    img{
        margin: 6.25rem auto;
    }


    .heading{
        transform-origin: bottom left;
        
      }

    #intro{
        padding-top:0;
        justify-content: left;  
        background: none;
    }

    .question{
        line-height: 3.5rem;
        font-size: 3rem;
        padding-bottom: 2rem
    }

    .parameters{
        margin: 6.25rem auto;
        justify-content: center;
        grid-template-rows: repeat(3,10rem);
        grid-template-columns: repeat(3,10rem);

    }
    
    .parameterItem{
        margin: 1rem
    }

    .twoRows{
        margin: 6.25rem auto;
        max-width: 70rem;
        display: flex;
        justify-content: space-around;
        
    }

    .twoRows img{
        margin: auto 0;
    }

    .twoRows p{
        flex-basis: 21rem;
        margin:0;
        align-self: start;
    }
}